<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header')%>
</head>

<body>
<%- include('./partials/nav') -%>
<div class="container">
    <h1>Blog Ninja</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam debitis corrupti ipsa omnis magnam voluptate a delectus, consequuntur, commodi impedit quod fugit expedita, distinctio corporis ea doloribus. Doloribus, obcaecati nesciunt.</p>
</div>
<%- include('./partials/footer') -%>